.vscode

# machine learning 2024
# Ignore folder and files in Data folder but keep the *.png, *.csv, *.ttf, and *.md files
Machine_Learning_2024/Scripts/Data/
ChatGLM-6B-main/
ChatGLM-6B-main.tar.gz
chatglm_6b.ipynb
library_system/
healthcare_system/
enterprise_answer\utils\__pycache__

.ipynb_checkpoints
enterprise_answer/
tmp/
models/
outputs/
.agent/
data/test1_answer_api.json
data/test1_answer_local.json
.DS_Store

data/fc_test
agent_lab_full